:root {
  --blue: #C0D7D6;
  --blue-one: #F3F7F7;
  --blue-two: #DDE9E9;
  --blue-three: #9EC1BE;
  --blue-four: #7AA6A4;
  --blue-five: #246B68;

  --red: #FFEBE4;
  --red-one: #FFFCFB;
  --red-two: #FFF5F2;
  --red-three: #FFDDD2;
  --red-four: #FFCCBB;
  --red-five: #AF593C;

  --green: #D9EED5;
  --green-one: #F8FBF8;
  --green-two: #EBF6E9;
  --green-three: #C3E5BC;
  --green-four: #A9DA9F;
  --green-five: #439232;
}
