.add-transaction-form {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
}

@media (min-width: 740px) {
  .add-transaction-form {
    width: var(--narrow-width);
    margin: 0 auto;
  }
}

.add-transaction-form .error {
  grid-column: 1 / span 4;
}
