header {
  background-color: white;
  padding: 10px;
  border-bottom: var(--blue-four) 1px solid;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.add-transaction-form {
  text-align: center;
}
