.transaction {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.transaction .amount,
.transaction .balance {
  text-align: right;
}

.transaction.negative {
  color: var(--red-five);
  background-color: var(--red-two);
}
